/* line 3, ../sass/partials/_general_styling.scss */
.page-header {
  text-align: center;
  border: none;
}

/* line 8, ../sass/partials/_general_styling.scss */
.field {
  margin-bottom: 15px;
}

/* line 12, ../sass/partials/_general_styling.scss */
table > thead > tr > td.active {
  background: #ffffff;
}

/* line 16, ../sass/partials/_general_styling.scss */
.view-change-management tr.odd {
  background: #f5f5f5;
}

/* line 20, ../sass/partials/_general_styling.scss */
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
  background: inherit;
}

/* line 24, ../sass/partials/_general_styling.scss */
.view-change-management tr.odd {
  background: #f5f5f5;
}
