@import "compass/css3";

.page-header {
	text-align:center;
        border:none;
}

.field {
	margin-bottom:15px;
}

table>thead>tr>td.active {
    background:#ffffff;
}

.view-change-management tr.odd {
    background:#f5f5f5;
}

.table>thead>tr>td.active, .table>tbody>tr>td.active, .table>tfoot>tr>td.active, .table>thead>tr>th.active, .table>tbody>tr>th.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>tbody>tr.active>td, .table>tfoot>tr.active>td, .table>thead>tr.active>th, .table>tbody>tr.active>th, .table>tfoot>tr.active>th {
    background:inherit;
}

.view-change-management tr.odd {
    background:#f5f5f5;
}